body{
    margin: 0;
}
#header {
    width: 100%;
    height: 6px;
    padding-bottom: 0;
    background-color:#57A0D3;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
}


.navbar {
    overflow: hidden;
    background-color: #57A0D3;
}

.navbar a:hover{
    background-color: rgb(118, 235, 196);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#about {
    border: 1px solid;
    width: 100%;
    height: 650px;
    display: block;
    background-color: rgb(238, 237, 203)
}

#title {
    float: left;
    width: 250px;
    height: 100px;
    margin-top: 35px;
    margin-left: 550px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
#info {
    float: left;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 250px;
    width: 75%;
    height: 250px;
    word-wrap: break-word;
    margin-left: 150px;
    padding: 0;  
    background-color: rgb(32, 212, 62);
    color: black;
    opacity: .75;
    
}

#info p{
    text-align: center;
}

#banner{
    float: left;
    width: 90%;
    height: 200px;
    margin-left: 75px;
    margin-top: 40px;
    padding: 0px;
    background-image: url(/images/source\ \(1\).gif);
    border: 1px solid;
}

#footer {
    background-color: lightgrey;
    width: auto;
    height: 70px;
    margin-top: 690px;
}

#footer p{
  text-align: center;
  padding-top: 40px;
}
